body {
    -moz-min-width: 1200px;
    -ms-min-width: 1200px;
    -o-min-width: 1200px;
    -webkit-min-width:1200px;
    min-width: 1200px;
}

#bodyZone {
    max-width: 100%;
    margin-top: 2%;
}

#mainBody {
    width: 80%;
    float: left;
    min-height: 750px;
}

#secondBody {
    max-width: 20%;
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    position: relative;
    margin-left: 30px;
}

#zonePubOne {
    width: 900px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
}

#zonePubTwo {
    width: 200px;
    height: 400px;
    text-align: center;
    vertical-align: middle;
    float: right;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}

#zonePubThree {
    position: absolute;
    margin-top: 430px;
    width: 200px;
    height: 300px;
    z-index: 2;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

#bookData {
    padding: 10px;
}

#filtrer {
    border: 1px solid black; 
    height: 30px; 
    width: 30px; 
    background-color:lightblue;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

#bookData div {
    padding: 10px;
}

#bookDetail {
    padding: 10px;
    margin-top: 20px;
}

#bookDetail div {
    line-height: 35px;
}

#reviewBox {
    width: 60%;
    padding: 10px;
    margin-top: 10px;
    display: inline;
}

#reviewText {
    width: 80%
}

#saveButton {
    width: 15%
}

#secondZone {
    width: 100px;
    height: 800px;
    overflow-y: auto;
    border: 1px solid black;
    float: right;
}

div#spinner {
    display: none;
    width: 300px;
    height: 300px;
    position: fixed;
    top: 40%;
    left: 45%;
    background: url(ajax-loader.gif) no-repeat center #fff;
    text-align: center;
    padding: 10px;
    font: normal 16px Tahoma, Geneva, sans-serif;
    border: 1px solid #666;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 2;
    overflow: auto;
}

div#layer {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #a4a3a3;
    background-color: rgba(164, 163, 163, 0.5);
    z-index: 1;
    overflow: auto;
    -moz-opacity: 0.5
}

input:focus {
    outline:none;
}

.voteButton {
    box-shadow: none;
}

.redLight {
    border-width: 1px;
    border-color: #8B2323;    
}

.blackborder {
    border: 1px solid black;
}

.roundBorder {
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.clear {
    clear: both;
}

.even {
    background-color: white;
}

.odd {
    background-color: grey;
    color: whitesmoke;
}

.odd a {
    color: whitesmoke;
}


.bookView {
    padding: 5px;
    margin: 5px;
    vertical-align: middle;
}

.bookView table {
    padding: 5px;
}

.bookView table th{
    text-align: center;
    padding-left: 5px;
}

.bookView table tr{
    text-align: center
}

.bookUnit {
    float: left;
    position: relative;
    background-color: white;
    width: 250px;
    border-radius: 5px;
}

.bookUnit a{
    width:100%;
    height:100%;
    display: inline;
    z-index: 1;
    clear: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}

.bookUnit:hover {
    border: 1px solid red;
}

.bookTitle {
    float: left;
    font-weight: bold;
}

.neutral {
    border: 1px solid lightblue;
}

.like {
    border: solid 1px greenyellow;
}

.unlike {
    border: solid 1px darkred;
}

.bookDetail {
    float: left;
}

.bookScore {
    float: left;
}

.upButton {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    z-index: 2;
    position: absolute;
    pointer-events: none;
    float: left;
}

.upButton:hover {
    border: 1px solid red;
}

.downButton {
    width: 20px;
    height: 20px;
    border: 1px solid black; 
    z-index: 2;
    position: absolute;
    pointer-events: none;
    float: left;
}