@{
    ViewBag.Title = "Read Excel File";
}

<hgroup>
    <h1>Read excel file.</h1>
    <h2>Please insert a valid Excel File.</h2>
</hgroup>

@using(Html.BeginForm("ReadExcelFile", "Data", FormMethod.Post, new { enctype="multipart/form-data", onsubmit = "ShowProgress()" }))
{
    @Html.ValidationSummary(true)
    <div>
        <label>Path</label>
        <input type="file" name="file" id="file"/>
 
        <input type="submit" name="submit" value="Submit" />
    </div>
}

